$siteWidth: 1200px;
$colorSelectSite: #ff839b;
$colorBackground: #000000;
$colorBurgerMenu: #FFFFFF;
$colorWhite: #e8e8e8;
$colorFont: #4D5053;
$colorBurgerMenuText: #6F6E6E;
// $colorCartBasketText: #6F6E6E;
$widthBurgerMenu: 232px;
$colorPromo:#fff3f5;