$siteWidth: 1200px;
$colorSelectSite: #ff839b;
$colorFont: #222222;
$colorBurgerMenu: #FFFFFF;
$colorWhite: #e8e8e8;
$colorBurgerMenuText: #6F6E6E;
// $colorCartBasketText: #6F6E6E;
$widthBurgerMenu: 232px;